* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif; }

/*background*/
body {
  background-image: url("../assets/imagenes/fondo.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto; }

.divBody {
  background-color: white;
  padding-bottom: 20px; }

p {
  font-size: 20px; }

.ig {
  color: #bc00eb; }

/*centrar elementos*/
.center {
  display: flex;
  justify-content: center; }

/*modificaciones logo index*/
.logoIndex {
  margin-top: 40px;
  margin-bottom: 40px; }

.logoIndex img {
  width: 150px; }

.margin {
  margin: 10px; }

h1 {
  font-size: 30px; }

.foo {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 30px; }

.foo img {
  height: 30px;
  width: 30px;
  margin: 10px; }

.contacto {
  display: inline;
  margin-top: 20px;
  margin-left: 300px; }

.contacto img {
  height: 20px;
  width: 20px;
  margin: 5px; }

.icon {
  transition: all 2s; }

.icon:hover {
  transform: translateY(-10px); }

@media screen and (min-width: 1024px) {
  body {
    background-image: url("../assets/imagenes/fondo.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 10px; }
  .foo {
    display: inline;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 20px; }
  .foo img {
    height: 50px;
    width: 50px; }
  .nav-item {
    font-size: 20px; }
  .contacto {
    display: inline;
    margin-left: 0; }
  .contacto img {
    height: 40px;
    width: 40px;
    margin: 5px; } }
